{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Данные</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body style="font-size: 20px;">
    <h1>Данные сервера</h1>
    
    <a href="/sensors" class="panel-link">
        <div class="panel">
            <div class="label">📡 Датчики</div>
        </div>
    </a>

    <a href="/users" class="panel-link">
        <div class="panel">
            <div class="label">👥 Пользователи</div>
        </div>
    </a>

</body>
</html>
