body {
    background-color: #003153;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 40px;
}

.back-arrow {
    position: fixed;
    top: 20px; 
    left: 20px; 
    font-size: 30px; 
    color: white; 
    text-decoration: none;
    padding: 5px;
    transition: background-color 0.3s, border-radius 0.3s;
}

.back-arrow:hover {
    background-color: rgba(158, 156, 156, 0.8);
    border-radius: 6px;
}

.panel {
    background-color: #3E5F8A;
    border-radius: 12px;
    padding: 20px;
    margin: 20px auto;
    width: 40%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    cursor: pointer;
}

.panel:hover {
    transform: scale(1.05);
}

.details {
    display: none;
    background-color: #00868B;
    padding: 7px;
    margin-top: 10px;
    border-radius: 8px;
}

.label {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.details .value {
    font-weight: normal;
    text-align: center;
}

.value {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}